.container {
  display: flex;
  align-items: flex-start;
  padding: 2em;
  margin-bottom: 2.1rem;
  background-color: var(--white);
  border-radius: 20px;
  width: 90%;
}

.content {
  margin-left: 0.7rem;
  width: 100%;
}

.dotMenu {
  cursor: pointer;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userInfo > aside {
  display: flex;
  flex-direction: column;
}

.userInfo > div {
  position: relative;
}

.userInfo > aside > span {
  text-align: left;
  color: var(--brown);
}

.name {
  margin: 0;
  color: var(--purple);
}

.description {
  text-align: left;
  color: var(--purple);
}

.publicationInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  margin-bottom: 0.5em;
}

.publicationInfo > aside {
  display: flex;
  align-items: center;
}

.publicationInfo > aside > span {
  color: var(--brown);
}

.likesAndComments {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  border-bottom: 1px solid var(--yellowPale);
  margin-top: 0.5rem;
  height: 30px;
}

.likesAndComments > aside {
  display: flex;
  align-items: center;
  margin-bottom: 0.2em;
  gap: 3px;
}

.likesAndComments > aside > span {
  color: var(--brown);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: 0.5rem;
}

.actions > aside {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.actions > aside > img {
  cursor: pointer;
}

.actions > img {
  cursor: pointer;
}

.buttonSave {
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .description {
    max-width: 80vw;
    word-wrap: break-word;
  }

  .publicationInfo {
    gap: 0;
  }
}
