.container {
  display: flex;
  align-items: flex-start;
  padding: 2em;
  margin-bottom: 2.1rem;
  background-color: var(--white);
  border-radius: 20px;
  width: 87%;
}

.content {
  margin-left: 0.7rem;
  width: 90%;
}

.dotMenu {
  cursor: pointer;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userInfo > aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.userInfo > div {
  position: relative;
}

.userInfo > aside > span {
  text-align: left;
  color: var(--brown);
}

.name {
  margin: 0;
  color: var(--purple);
}

.description {
  text-align: left;
  color: var(--purple);
}

.publicationInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  margin-bottom: 0.5em;
}

.publicationInfo > aside {
  display: flex;
  align-items: center;
}

.publicationInfo > aside > span {
  color: var(--brown);
  font-size: 14px;
}

.likesAndComments {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  border-bottom: 1px solid var(--yellowPale);
  margin-top: 0.5rem;
  height: 30px;
}

.likesAndComments > aside {
  display: flex;
  align-items: center;
  margin-bottom: 0.2em;
  gap: 3px;
}

.likesAndComments > aside > span {
  color: var(--brown);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: 0.5rem;
}

.actions > aside {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.actions > label {
  cursor: pointer;
}

.actions input {
  display: none;
}

.buttonSave {
  background: none;
  border: none;
  cursor: pointer;
}

.Commentsection {
  display: flex;
  justify-content: center;
  margin-block-start: 5%;
}

@media (max-width: 768px) {
  .container {
    max-width: 70vw;
  }
  .container .userPhoto {
    display: none;
  }
  .publicationInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .actions > aside {
    width: 40%;
  }
}
