.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 60vh;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
}
