.containerSlider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  transition: 0.2s ease-out;
  position: relative;
  z-index: 3;
}

.slider img {
  width: 100%;
}

.containerSlider h2 {
  font-size: 12px;
  background-color: white;
  color: #000;
  font-weight: lighter;
  position: absolute;
  bottom: 5%;
  right: 10%;
  padding: 0.5em;
  border-radius: 4px;
  z-index: 3;
}

.containerButtons {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
}

.containerButtons button {
  height: 100vh;
  width: 60px;
  background: none;
  pointer-events: all;
  border: none;
  transition: 200ms ease-in-out;
}
.containerButtons button:hover {
  background-color: rgb(245 245 245 / 20%);
}

@media (max-width: 768px) {
  .containerSlider {
    max-width: 100%;
  }
}
