.modalContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.modal {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0, 35%);
  transition: all 500ms ease;
}

.container {
  width: 936px;
  height: 650px;
  margin: auto;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalHeader {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.modalHeader h3 {
  font-size: 24px;
  color: var(--purple);
}
.modalHeader img {
  padding: 0.3em;
  border-radius: 50%;
  transition: 200ms ease-in-out;
}
.modalHeader img:hover {
  background-color: #64646437;
}

.modalInfoUser {
  width: 90%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.infoUser {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.infoUser h3 {
  font-size: 20px;
  color: var(--purple);
  margin: 0;
}

.infoUserPrivacity {
  height: 20px;
  width: 90px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  outline: none;
}

.selectPrivacity {
  margin-left: 0.2rem;
  width: 80px;
  font-size: 16px;
  color: var(--brown);
  border: none;
  appearance: none;
  background: none;
}

.dropDownArrowPrivacity {
  position: absolute;
  right: 0;
  pointer-events: none;
}

.infoUserPrivacity h5 {
  font-size: 13px;
  font-weight: lighter;
  color: var(--brown);
}

.text {
  width: 90%;
  height: 300px;
  margin-top: 15px;
  border: none;
  background: none;
  padding: 0.5em;
  outline: none;
  font-size: 16px;
  color: var(--brown);
}

.text::placeholder {
  font-size: 16px;
  color: var(--brown);
}
.text::-webkit-scrollbar {
  width: 0.2rem;
}
.text::-webkit-scrollbar-thumb {
  background-color: var(--brown);
}

.tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 90%;
}

.selectTag {
  height: 24px;
  width: 300px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.selectTag select {
  margin-left: 0.2rem;
  width: 80px;
  font-size: 16px;
  color: var(--brown);
  border: none;
  appearance: none;
  background: none;
}

.selectTag img {
  position: absolute;
  right: 0;
  pointer-events: none;
}

.tags img {
  width: 20px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags select {
  width: 100px;
  font-size: 16px;
  color: var(--brown);
  border: none;
  appearance: none;
  background: none;
  margin-right: 1rem;
}

.tags h3 {
  font-size: 16px;
  color: var(--brown);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  margin-right: 0.5rem;
}

.previewTag {
  min-width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.previewTag button {
  color: red;
  padding: 0;
  margin-right: 1rem;
  background: none;
  border: none;
}

.previewTag img {
  width: 10px;
  height: 10px;
}

.containerButtons {
  width: 90%;
  display: flex;
}

.buttons {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

.media {
  width: 100px;
  height: 100px;
}

.buttons button {
  background: none;
  border: none;
}

.media:hover {
  filter: saturate(300%) contrast(90%) brightness(100%);
}

.containerUpload {
  margin-left: 5rem;
  width: 40%;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.progress {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .media input {
  display: none;
} */

.infoPost {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.infoPost h5 {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.reactSelectContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 100px;
  height: 40px;
  outline: none;
}

.reactSelectContainer img {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.name {
  width: 120px;
  height: 40px;
  padding: 0 0.5em;
  background: none;
  border: transparent;
}

.name::placeholder {
  font-size: 16px;
  color: var(--brown);
}

.buttonPost {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.buttonPost button {
  background: #ffdb6e;
  box-shadow: 0px 2.9566px 2.9566px rgba(0, 0, 0, 0.25),
    inset 0px 1.4783px 2.9566px rgba(255, 255, 255, 0.25),
    inset 0px -1.4783px 2.9566px rgba(0, 0, 0, 0.25);
  border-radius: 11.8264px;
  color: #31135e;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  height: 56px;
  width: 117px;
  margin-bottom: 20px;
  border: none;
}

@media (max-width: 768px) {
  .modal {
    max-width: 100%;
  }

  .container {
    max-width: 100vw;
  }

  .infoPost {
    display: flex;
    flex-direction: column;
  }

  .buttons {
    display: flex;
    width: 100%;
  }

  .buttons > button > img {
    width: 71px;
    height: 70px;
  }

  .buttonPost {
    display: flex;
    justify-content: center;
  }

  .modalContainer {
    height: auto;
  }
}
.buttonPost button:disabled {
  filter: saturate(50%) contrast(100%);
}

@media screen and (max-width: 768px) {
  .container {
    min-height: 100vh;
  }
  .previewTag {
    display: flex;
    flex-direction: column;
    height: 100px;
  }
  .previewTag h3 {
    font-size: 10px;
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .infoPost {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
  }
}
