.container {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12),
    0px 1px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 2;
  width: 165px;
  height: fit-content;
  background-color: #f8f8f8;
}

.container > ul {
  list-style: none;
  text-align: left;
  padding-inline: 0;
}

.dropdownElement:focus,
.dropdownElement:hover {
  background-color: var(--yellowPale);
  width: 100%;
  cursor: pointer;
}

.dropdownElement > p {
  color: var(--purple);
  padding-inline: 1rem;
  padding-block: 0.2rem;
}

.dropdownElement a {
  margin-left: 1rem;
}

.Link {
  color: var(--purple);
}