.containerAccount {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  height: 2.5rem;
  color: var(--brown);
}



.titleAccount {
  padding-left: 1.5rem;
  color: var(--purple);
  font-weight: 400;
  height: 2.5rem;
}

.buttons {
  background: none;
  border: none;
  padding: 0;
}

.buttons:hover {
  text-decoration: underline;
}
