.containerLanding {
  padding-top: 0rem;
  width: 100%;
}

.flyAndTitle {
  display: flex;
  justify-content: flex-start;
}

.flyAndTitle > h1 {
  font-size: 70px;
  margin: 0;
  padding-top: 3rem;
  padding-left: 1rem;
}

.flyAndTitle > img {
  /* z-index: -1; */
  position: absolute;
  width: 541px;
  height: 289px;
  top: 72px;
}

.txtAndBtn {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  /* width: 50%; */
}

.txtAndBtn > p {
  font-style: normal;
  font-size: 32px;
  line-height: 40px;

  color: #31135e;

  width: 672px;
  /* height: 110px; */
  text-align: left;
}

.btnExp {
  background: #ffdb6e;
  box-shadow: 0px 2.9566px 2.9566px rgba(0, 0, 0, 0.25),
    inset 0px 1.4783px 2.9566px rgba(255, 255, 255, 0.25),
    inset 0px -1.4783px 2.9566px rgba(0, 0, 0, 0.25);
  border-radius: 11.8264px;
  color: #31135e;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  width: 150px;
}

.containerGuy {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* position: relative; */
  /* z-index: -1;  */
  top: -100px;
}

.containerGuy > .minFooter {
  display: flex;
  align-self: flex-end;
  position: absolute;
  left: 0;
  width: 30%;
}

.guyImg {
  width: 138px;
  height: 272px;
  margin-right: 2rem;
}
