.homeContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

.feedContainer {
  background-color: var(--violetLight);
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 4rem;
}

.feedLeft {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 75vh;
  background-color: var(--white);
  margin-top: 2rem;
  border-radius: 20px;
  position: sticky;
  left: 23px;
  top: 6rem;
  z-index: 1;
}
.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
  top: -200px;
}

.footerLeft {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.feedCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: 672px;
  margin-bottom: 2.1rem;
}

.postGenerator {
  background-color: var(--white);
  width: 90%;
  height: 7.5rem;
  margin-top: 2.1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.imgProfile {
  width: 56px;
  height: 56px;
  margin-bottom: 2rem;
}

.iconEdit {
  width: 24px;
  height: 24px;
}

.inputPost {
  width: 350px;
  height: 56px;
  border-radius: 10px;
  border: 1.5px solid var(--violetLight);
  background-color: var(--white);
  box-sizing: border-box;
}

.inputPost:hover {
  border: 2px solid var(--violet);
}

.inputPost:focus {
  border: 2px solid var(--violet);
  outline: none;
  padding-left: 1rem;
}

.inputPost:focus::placeholder {
  color: transparent;
}

.inputPost[type="text"]:focus::placeholder {
  background: none;
}

.inputPost::placeholder {
  color: var(--brown);
  padding: 8px;
  padding-inline-start: 50px;
  font-size: 16px;
}
.inputPost[type="text"]::placeholder {
  background-image: url("../../img/edit.png");
  background-repeat: no-repeat;
  background-position: 0px center;
  background-position-x: 20px;
}

.buttonsPost {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.icons {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.iconsTitle {
  width: 10rem;
  height: 2rem;
  display: flex;
  align-items: center;
  border: none;
  background: none;
}

.iconsTitle h4 {
  margin-left: 0.5rem;
  width: 5rem;
  font-size: 16px;
  color: var(--brown);
}

.feedPublications {
  min-height: 70vh;
  width: 100%;
  background-color: var(--violetLight);
  margin-top: 2.1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rigthcontainer {
  position: sticky;
  top: -200px;
}

.feedRight {
  width: 320px;
  min-height: 75vh;
  background-color: var(--white);
  margin-top: 2.1rem;
  border-radius: 20px;
  padding-top: 1rem;
  padding-left: 2rem;
  z-index: 1;
}

.footerrigth {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

@media (max-width: 1300px) {
  .leftContainer {
    display: none;
  }
  .inputPost {
    width: 500px;
  }
}

@media (max-width: 1090px) {
  .rigthcontainer {
    display: none;
  }
  .inputPost {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .feedContainer {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feedCenter {
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    align-items: center;
  }

  .postGenerator {
    width: 90%;
  }

  .inputPost {
    width: 80%;
  }
}

@media (max-width: 496px) {
  .postGenerator {
    width: 90%;
  }
  .buttonsPost {
    margin-left: 4rem;
  }
  .imgProfile {
    display: none;
  }
}

/* @media (max-width: 768px) {
  .homeContainer {
    display: flex;
    max-width: 100vw;
    flex-direction: column;
  }

  .feedCenter {
    max-width: 100%;
  }

  .postGenerator {
    max-width: 100%;
  }

  .buttonsPost {
    max-width: 70%;
  }

  .inputPost {
    max-width: 100%;
  } */

/* .feedRight {
    display:initial;
  } */

/* .feedLeft {
    position: initial;
    width: 100vw;
    display: none;
  }

  .leftContainer {
    position: initial;
  }

  .feedContainer {
    display: flex;
    flex-direction: column;
  }

  .rigthcontainer {
    display: none;
  }

  .footerLeft {
    display: none;
  }
} */
