.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.containerAllProfiel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 3%;
}

.leftContainerFeed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 22%;
  border-radius: 20px;
}

.feedLeft {
  background-color: var(--white);
  text-align: start;
  border-radius: 20px;
  height: 75vh;
  width: 100%;
}

.profileContainer {
  background-color: var(--white);
  border-radius: 20px;
}

.profile {
  background-color: var(--white);
  border-radius: 20px;
  width: 70vw;
  height: 75vh;
}

.footerTerm {
  position: absolute;
  bottom: 0;
  right: calc(100vw - 95%);
  bottom: calc(100vh - 98%);
}

.footerSocial {
  position: absolute;
  bottom: 0;
}

.portada img {
  width: 100%;
  height: 20vh;
}

.portada {
  position: relative;
}

.profileAvatar {
  border-radius: 50%;
  /* border: 5px solid var(--white); */
  width: 10rem;
  height: 10rem;
  transform: translate(30%, -40%);
}

.username h2 {
  color: var(--purple);
  font-weight: 400;
  size: 20px;
  line-height: 20px;
}

.username strong {
  color: var(--brown);
  font-weight: 500;
  size: 20px;
}

.followins {
  display: flex;
  align-items: end;
  gap: 20%;
}

.reviews {
  display: flex;
  align-items: end;
  margin-inline-start: 25%;
}

.username {
  display: flex;
  text-align: start;
  margin-inline-start: 10%;
  height: 10%;
  width: 100%;
  gap: 20%;
  white-space: nowrap;
}

.infoUser {
  display: flex;
}

.menu {
  position: relative;
  display: flex;
  align-items: center;
}

.sections {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.sections .review,
.sections .places,
.sections .bucket,
.sections .saved {
  display: flex;
  justify-content: center;
  opacity: 0.5;
  gap: 5%;
  width: 15%;
  color: var(--brown);
}

.sections .review:hover,
.sections .places:hover,
.sections .bucket:hover,
.sections .saved:hover {
  cursor: pointer;
  opacity: 1;
  border-bottom: 5px solid var(--yellowPale);
  margin-bottom: -10px;
}

hr {
  border-color: var(--violetLight);
}

.selected {
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 15%;
  color: var(--brown);
  cursor: pointer;
  border-bottom: 5px solid var(--yellowPale);
  margin-bottom: -10px;
  opacity: 1;
}

/* Estilo para el menú desplegable */
.dropdown {
  position: relative;
  display: inline-block;
  margin-inline-start: 20%;
}

.dropdown img {
  cursor: pointer;
}

.dropdown .menu {
  position: absolute;
  top: calc(100% + -60%);
  width: 200px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
  z-index: 1;
}

.dropdown .menu.center {
  left: calc(50% - 75px);
}

.dropdown .menu.show {
  display: block;
  left: calc(50% - 75px);
}

/* Estilos para los elementos de la lista */
.dropdown .menu li {
  padding: 3px 20px 3px 20px;
  color: var(--purple);
  text-decoration: none;
  cursor: pointer;
}

.dropdown .menu button {
  color: var(--purple);
  background: none;
  border: none;
}

.dropdown .menu li:hover {
  background-color: var(--yellowPale);
  transition: all 0.1s ease-in-out;
}

#Log {
  color: var(--brown);
}

/* Estilos para el elemento con clase space al pasar el cursor sobre él */
.dropdown .menu .space:hover {
  background-color: #fff;
}

.changeCover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(1000%, 100%);
  padding: 10px;
  width: 20px;
  height: 20px;
  background-color: var(--violet);
  background-image: url("../../img/edit_white.png");
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

input[type="file"] {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.changeAvatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(60%, 120%);
  padding: 10px;
  width: 20px;
  height: 20px;
  background-color: var(--violet);
  background-image: url("../../img/edit_white.png");
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.changeName {
  position: relative;
  padding: 10px;
  width: 20px;
  height: 20px;
  background-color: var(--violet);
  background-image: url("../../img/edit_white.png");
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.change {
  display: flex;
  align-items: center;
  gap: 5%;
  width: auto;
  height: auto;
}

.first_and_last_name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first_and_last_name input {
  border-radius: 6px;
  border: 2px solid var(--violetLight);
  padding: 5%;
}

.first_and_last_name input:hover {
  border: 2px solid var(--violet);
}

.first_and_last_name input:focus {
  border: 2px solid var(--violet);
  outline: none;
}

.first_and_last_name label {
  color: var(--purple);
  font-weight: 400;
  size: 20px;
  line-height: 20px;
}
