.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid var(--violet);
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    right: 5%;
    width: 300px;
    cursor: pointer;
    padding: 0;
    z-index: 1;
}

.header {
    background-color: var(--violet);
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    border: 1px solid var(--violet);
    border-radius: 2px;
}

.Contentmessages {
    display: flex;
    height: 70%;
    cursor: auto;
    overflow-y: scroll;
    background-color: #f0f0f0;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
}

.messages {

}

.boxtext {
    width: 100%;
    background-color: var(--violetLight);
    padding-top: 10px;
    box-sizing: border-box;
}

.boxtext textarea {
    appearance: none;
    resize: none;
    width: 95%;
    border: 1px solid var(--violetLight);
}

.boxtext textarea:focus {
    border: 1px solid var(--violet);
    outline: none;
}

.container2 {
    padding: 10px;
    border: 5px solid gray;
    background-color: red;
    position: fixed;
    bottom: 0;
    height: 400px;
    right: 30%;
    width: 300px;
    display: flex;
    z-index: 1;
}

.container3 {
    padding: 10px;
    border: 5px solid gray;
    background-color: red;
    position: fixed;
    bottom: 0;
    height: 400px;
    right: 55%;
    width: 300px;
    display: flex;
    z-index: 1;
}

.buble{
}